
/*h1{
    color: rgba(24, 196, 27, 0.893);
    background-color: rgb(243, 12, 12);
}

.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 60vh;
    overflow: hidden;
}*/

#nmnm{
    background-color: black;
 
}